!!!
%html
  %head
    %title Fifth By Midwest
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %aside#tippytop.tippytop
      = render "shared/tippytop"
    %header#header.site-header
      -# = yield :header
      -# = render "shared/header"
      %p.notice= notice
      %p.alert= alert
    %main#main= yield
    %footer= yield :footer
