!!!
%html
  %head
    %title Fifth By Midwest
    = csrf_meta_tags
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body

    %header.usa-header.usa-header-extended.site-header{:role => "banner"}
      %div#tippytop.tippytop
        = render "shared/tippytop"

      -# = yield :header
      = render "shared/header"

    %main#main= yield

    %footer= yield :footer
    = javascript_include_tag 'lib/uswds.min.js', 'data-turbolinks-track': 'reload'
